{% extends "base.html" %}
{% load voting_tags %}
{% load hitcount_tags %}



{% block sidebar %}		
<script type="text/javascript">
    $(document).ready(function() {
        {% get_hit_count_javascript for profile %}
    });
</script>
		
			<!-- Sidebar --> 
			
			<div class="sidebar_02"> 
				
				<a href="{{ profile.id }}" class="sidebar_hero_container">
				<img src="{{ mugshot|default:'/static/images/profile_hero_blank.gif'  }} " alt=""  class="sidebar_hero" width="223px" height="223px"   "/>
				</a>
				<div class="dotted_divider"></div> 
								
				<div class="sidebar_title"><a href="/profile" onclick="return false">Info</a></div> 
				<div class="sidebar_title"><a href="/portfolio">Portfolio</a><a href="portfolio.htm" class="portfolio">{{portfolio_count}}</a></div>				
				
				<div class="dotted_divider"></div> 
				<div class="sidebar_title"><a href="messages.htm">Messages</a><a href="messages.htm" class="messages"></a></div>
				<div class="sidebar_title"><a href="friends.htm">Friends</a><a href="friends.htm" class="friends"></a></div>  
				<div class="sidebar_title"><a href="views.htm">Recent Views</a><a href="views.htm" class="views">{% if is_logged_in %} {% get_hit_count for user_profile within "days=7,minutes=0" %} {% endif %}</a></div> 

				<div class="dotted_divider"></div>	
				<div class="sidebar_title">Total Views<div class="sidebar_section_title">{% if is_logged_in %}  {% get_hit_count for user_profile %} {% endif %}</div></div> 
				<div class="sidebar_title">Fans<div class="sidebar_section_title">{{ fan_count }}</div></div> 
				
			</div> 
			
{% endblock %}	



{% block content %}	


				
				<!-- Profile Content --> 
				
				<div class="general_content">


					<div class="dotted_divider"></div> 
					
					
					
					<!-- Name & Stats -->	
									
					<div class="friend_title">
		
						<div class="section_title">{{ name }}<a href="friends.htm" class="friends">Add as Friend</a></div>
		
						<div class="dotted_divider"></div> 
										
						<div class="friend_stat_title">Friends<div class="sidebar_section_title">1010</div></div> 

						<div class="friend_stat_title">Total Views<div class="sidebar_section_title">{% get_hit_count for profile %}</div></div> 



						<div class="friend_stat_title">Fans<div class="sidebar_section_title">{{ profile_fan_count }}</div></div> 
						
						<div class="friend_mini_acclaim">
							<div class="general_acclaim_box">{{ profile_vote_count }} </div>
						</div>

					</div>
					
					
					<!-- Friend Hero -->
				
					<div class="friend_hero_container">
						<div class="friend_hero">
						
							<img src="{{ user_image|default:'/static/images/profile_hero_blank.gif'  }} " alt="" width="223px" height="223px"/>
						</div>
					</div>


				
 					<!-- Quote -->
 					
					<div class="general_title">Quote</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">{{ profile.quote }}</div> 									
 	
 
 
 					<!-- Location -->
 					
					<div class="general_title">Location</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
                    {% if profile.city and profile.state  %}
					{{ profile.city }}, {{ profile.state }}
					{% else %}
					unavailable
                    {% endif %}
					</div> 
					
					
					
 					<!-- Education -->
 					
					<div class="general_title">Education</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text"> {{ profile.education }}</div> 


					
 					<!-- Bio -->
					
					<div class="general_title">Bio</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
                     {{ profile.bio }}
					</div> 
				
				</div>

				
				
				<!-- Portfolio Content --> 
				
				<div class="general_content">

			
					
					<!-- Portfolio Header --> 
					
					<div class="section_title">
						Portfolio
						<div class="general_right_float">
							Sort: <a href="" class="general_link_selected">Exhibit Date</a> | <a href="" class="general_link">Acclaim</a>
						</div>
					</div> 
					
					<div class="dotted_divider"></div> 

				{% for item in portfolio %}
					{% vote_by_user user on item as vote %}
					
					
					
                        <div class="{% if forloop.counter|divisibleby:'3' %} art_container_last{% else %}art_container{% endif %}">
                        
                            <div class="general_title_no_margin"><a href="">{{ item.title|truncatewords:3 }} </a>
                            </div>

                            {% if item.image %}
                           
                                <a href="{{ MEDIA_URL }}{{ item.image }}" rel="art_colorbox" title="{{ item.title }} " class="art_hero"><img src = '{{ MEDIA_URL }}{{ item.image }}' width=235px height=165px /></a>
                            {% else %}
                                <a href="/static/images/colorbox_hero_blank.gif" rel="art_colorbox" title="{{ item.title }} " class="art_hero"></a>
                            {% endif %}
                            
                            <div class="art_info">
                                {% if vote %} 
                                    <img src="/static/images/acclaim_star.gif" alt="" class="acclaim_star" /> 
                                {% else %}
                                
                                {% endif %}
                                
                                Artist: <a href="">{{ item.user.get_full_name }}</a><br />
                                Dimensions: {{ item.user.dimensions }} <br />
                                Medium:  {{ item.user.materials }}
                                <div class="art_dates">
                                    Created: {{ item.user.last_modified }}<br />
                                    Exhibited: {{ item.user.creation_date }}
                                </div>
                                <div class="mini_acclaim">
                                    <a href="" onclick='return upVote("{{item.hash}}",this)' class="acclaim_plus"></a><a href="" onclick='return downVote("{{item.hash}}",this)' class="acclaim_minus"></a><div class="mini_acclaim_box">{{ item.vote.score }}</div>
                                </div>					
                            </div>
    
                        </div>
                    {% endfor %}				

					
		
					<br class="clear" />
					<br />
					
				
 				
 				<div class="dotted_divider"></div> 	
			
			</div> 
			
			<br class="clear" />
			
				

			
			
				<!-- Art Footer --> 
					
				<div class="section_title"><div class="general_right_float"> 1 - 15 of 2000 <a href="">Older <span class="helvetica">&#8250;</span></a>  <a href="">Oldest <span class="helvetica">&#187;</span></a></div></div> 
			
			</div>		
{% endblock %}			
			
{% block footer %}			
			<!-- Footer --> 
			
			<div class="footer"> 
					
				<div class="small_print_02"> 
<a href="http://www.chimesandrhymes.com" target="_blank">Blog</a> / <a href="about.htm">About</a> / <a href="privacy.htm">Privacy</a> / <a href="terms.htm">Terms 0f Use</a><br />
					Site Design By Groundwork Counsel<br /> 
					<span class="helvetica">&copy;</span> Art Acclaim 2010 
				</div> 
					
					
				<div class="profile_acclaim"> 
					<div class="profile_acclaim_box">{{ acclaim_count }} </div> 
					<div class="profile_acclaim_title">Acclaim</div> 
				</div> 
				
			</div> 
			
		</div> 
	
	</div> 
 
</body> 
</html> 
{% endblock %}