{% extends "base.html" %}



{% block content %}	

				
				
				<!-- Profile Edit Content --> 
				
				<div class="general_content"> 
					<div class="section_title">Edit Profile</div> 
					<div class="dotted_divider"></div> 



					<!-- Photo Upload -->

					<div class="photo_upload_container_01">
					
						

						<!-- Photo Upload Left --> 
						
						<div class="photo_upload_left">
                            {% if tmp_mugshot %}
						<img src="/static/{{ tmp_mugshot  }} " alt="" width="325px" height="325px"/>
							{% else %}
                                <img src="/static/{{ mugshot|default:'/images/profile_hero_blank.gif'  }} " alt="" width="325px" height="325px"/>
						    {% endif %}
						</div>
						
						<iframe id="hiddenupload" name="hiddenupload" style="display:none;"></iframe>
						
						<!-- Photo Upload Right --> 
						
						<div class="photo_upload_right">
						
							<div class="photo_upload_title">Select an image file on your computer</div>
							<div class="dotted_divider"></div>
							<div class="upload_submit_container">
                                <form action="/guru/" method="post" target="hiddenupload" enctype="multipart/form-data" class="profile_form">
                                <input type="hidden" value="profile_image"  name= "type" />
                                {% csrf_token %}	
                                	<div class="choose_file_container">
										<br />
										<div class="choose_file">Choose File</div>
										{{ image_tank.image }}
									</div>	
       
								</form>
							</div>
							<div class="upload_submit_note_01">* Image must be square and a minimum of <br />325 pixels X 325 pixels</div> 
							
							<div class="photo_upload_title">Or</div>
							<div class="dotted_divider"></div>
							<div class="upload_submit_container">
								<form>
									<input type="submit" class="take_picture" value="Take Picture" />
								</form>
							</div>
							<div class="upload_submit_note_01">* Webcam & Flash Required</div>
							
							<div class="general_micro_print">By uploading a file you certify that you have the right to distribute this picture and that it does not violate the <a href="terms.htm" class="underline">Terms of Use.</a></div>
							 
						</div>
						
					</div>
					
					 <form action="." method="post" enctype="multipart/form-data" class="profile_form">
                        <input id="imghash" type="hidden" value=""  name= "imagehash" />
					     {% csrf_token %}

    
						<!-- Edit Container Left -->
						
						
						<div class="edit_left_column"> 
							
							
							
							<!-- First Name -->
										
							<div class="general_title">First Name<div class="general_right_float"> 100 of 400 characters</div></div> 
						 
							<div class="dotted_divider"></div>

							<div class="edit_input_container_05">
                                 {% if user_form.first_name.errors %}{{ user_form.first_name.html_error_list }}{% endif %}
							     {{ user_form.first_name }}
							</div>
						
						</div>
					


						<!-- Edit Container Right -->
						
						
						<div class="edit_right_column"> 
										
										
										
							<!-- Last Name -->
					
							<div class="general_title">Last Name <div class="general_right_float"> 100 of 400 characters</div></div>
							<div class="dotted_divider"></div>
					
							<div class="edit_input_container_05">
                                 {% if user_form.last_name.errors %}{{ user_form.last_name.html_error_list }}{% endif %}
							     {{ user_form.last_name }}
							</div>

						</div>
						<br class="clear" />
						
						
					
						<!-- Quote -->
					
						<div class="general_title">Quote <div class="general_right_float"> 200 of 800 characters</div></div>
						<div class="dotted_divider"></div>
					
						<div class="edit_input_container_02">
					        {{ profile_form.quote }}
						</div>
 
 
 
 						<!-- Location -->
 					
						<div class="general_title">Location <div class="general_right_float"> 100 of 400 characters</div></div> 
						<div class="dotted_divider"></div> 
						
						<div class="edit_input_container_01">
                            {{ profile_form.location}}
						</div>
					

					
						<!-- Education -->
					
						<div class="general_title">Education <div class="general_right_float"> 300 of 900 characters</div></div> 
						<div class="dotted_divider"></div> 
						
						<div class="edit_input_container_03">
                            {{ profile_form.education }}
						</div>


						<!-- Bio -->
										
						<div class="general_title">Bio <div class="general_right_float"> 400 of 2000 characters</div></div> 
						<div class="dotted_divider"></div> 
					
						<div class="edit_input_container_04">
                            {{ profile_form.bio }}
					    </div>

					
					<!-- Menu Navigation --> 
										
					<div class="menu_navigation_01">
					
						<a href="" class="menu_button_left">
							Delete Account
						</a>
						<a href="privacy.htm" class="menu_button_left">
							Privacy Policy
						</a>
						<a href="terms.htm" class="menu_button_left">
							Terms of Use
						</a>
						
					<input class="menu_button_right_selected" type="submit" value="Update Profile">
											
					</div>
				
				</form>
						
			</div>

{% endblock %}	 

{% block footer %}		

<script>
$("#hiddenupload").load(function(){
     var data = eval($(this).contents().text());
     $(".photo_upload_left img").attr("src", '/static/' + data[0].fields.image);
     $("#imghash").val(data[0].fields.hash);
     $("#id_image").removeAttr("disabled")
     
});
</script>

			<!-- Footer --> 
			
			<div class="footer"> 
					
				<div class="small_print_02"> 
<a href="http://www.chimesandrhymes.com" target="_blank">Blog</a> / <a href="about.htm">About</a> / <a href="privacy.htm">Privacy</a> / <a href="terms.htm">Terms 0f Use</a><br />
					Site Design By Groundwork Counsel<br /> 
					<span class="helvetica">&copy;</span> Art Acclaim 2010 
				</div> 
					
					
				<div class="profile_acclaim"> 
					<div class="profile_acclaim_box">101K</div> 
					<div class="profile_acclaim_title">Acclaim</div> 
				</div> 
				
			</div> 
			
		</div> 
	
	</div> 
 
</body> 
</html> 
{% endblock %}