{% extends "base.html" %}	


{% block content %}	

				<!-- Profile Content --> 
				
				<div class="general_content"> 
				
					<!-- Name & Quote -->	
					
					<div class="section_title">{{ name }}<a href="/profile/edit/" class="edit">Edit</a></div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">{{ profile.quote }}</div> 
 
 
 
 					<!-- Location -->
 					
					<div class="general_title">Location</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
					{% if profile.location %}
					{{ profile.location }}
					{% else %}
					unavailable
                    {% endif %}
					</div> 
					
					
					
 					<!-- Education -->
 					
					<div class="general_title">Education</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
					{% if profile.education %}
					{{ profile.education }}
					{% else %}
					unavailable
                    {% endif %}					
					</div> 
					
					
					
 					<!-- Bio -->
					
					<div class="general_title">Bio</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
					{% if profile.bio %}
					{{ profile.bio }}
					{% else %}
					unavailable
                    {% endif %}		
					</div> 
					
				</div> 
 

		
{% endblock %}