{% extends "base.html" %}




		<!-- Sidebar --> 
			


			
			
			<!-- Right Column --> 
			
		
				
{% block navigation %}				
            <div class="right_column"> 
				<!-- Main Navigation --> 
			
				<div class="main_navigation">	
			
			
			
					<!-- Main Navigation --> 
			
					<div class="main_tab_container"> 
					
						<a href="profile.htm" class="main_tab_selected" onclick="return false">Profile</a> 
						<a href="gallery.htm" class="main_tab">Gallery</a>		
						<a href="forum.htm" class="main_tab">Forum</a> 
				
					</div> 
				
				
					
					<!-- Search --> 
				
					<form> 
				
						<div class="search_select"> 
						
							<a href="" class="search_type">People</a> 
							<a href="" class="search_type">Tags</a> 
							<a href="" class="search_type">Topics</a> 
							
						</div> 
				
						<div class="search_form"> 
					
							<div class="search_link_container"> 
							
								<a href="" class="search_link" onclick="return false">Select</a> 
								
							</div> 
					
							<input type="text" class="search_text" name="" value="Search" /> 
							<input type="submit" class="search_submit" value="Submit" /> 
						
						</div> 
				
					</form> 
			
				</div> 
		{% endblock %}		
				
	{% block content %}			
				<!-- Profile Content --> 
				
				<div class="general_content"> 
				
					<!-- Name & Quote -->	
					
					<div class="section_title">{{ name }}<a href="/profile/edit/" class="edit">Edit</a></div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">{{ profile.quote }}</div> 
 
 
 
 					<!-- Location -->
 					
					<div class="general_title">Location</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text">
					{% if profile.city and profile.state  %}
					{{ profile.city }}, {{ profile.state }}
					{% else %}
					unavailable
                    {% endif %}
					</div> 
					
					
					
 					<!-- Education -->
 					
					<div class="general_title">Education</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text"> {{ profile.education }}</div> 
					
					
					
 					<!-- Bio -->
					
					<div class="general_title">Bio</div> 
					<div class="dotted_divider"></div> 
					<div class="general_text"> {{ profile.bio }}</div> 
					
				</div> 
 
			</div> 
{% endblock %}