{% extends "registration/base.html" %}

{% block navigation %} {% endblock %}

{% block content %}	
	
		<!-- Sidebar --> 
			
		<div class="content"> 
		
			
			
			<!-- Sidebar --> 
			
			<div class="sidebar_02"> 
				
				<a href="profile.htm" class="sidebar_hero_container"><img src="/static/images/profile_image.jpg" alt="" class="sidebar_hero" /></a>
				<div class="dotted_divider"></div> 
								
				
				<div class="sidebar_title"><a href="profile.htm">Info</a></div> 
				<div class="sidebar_title"><a href="portfolio.htm">Portfolio</a><a href="portfolio.htm" class="portfolio">12</a></div>				
				
				<div class="dotted_divider"></div> 
				<div class="sidebar_title"><a href="messages.htm">Messages</a><a href="messages.htm" class="messages">12</a></div>
				<div class="sidebar_title"><a href="friends.htm">Friends</a><a href="friends.htm" class="friends">1111</a></div>  
				<div class="sidebar_title"><a href="views.htm">Recent Views</a><a href="views.htm" class="views">3</a></div> 
				
				<div class="dotted_divider"></div>	
				<div class="sidebar_title">Total Views<div class="sidebar_section_title">1010</div></div> 
				<div class="sidebar_title">Fans<div class="sidebar_section_title">1003</div></div> 
				
			</div> 
			
			
			
			<!-- Right Column --> 
			
			<div class="right_column"> 
				
				
				
				<!-- Main Navigation --> 
			
				<div class="main_navigation">	
			
			
			
					<!-- Main Navigation --> 
			
					<div class="main_tab_container"> 
					
						<a href="profile.htm" class="main_tab_selected" onclick="return false">Profile</a> 
						<a href="gallery.htm" class="main_tab">Gallery</a>		
						<a href="forum.htm" class="main_tab">Forum</a> 
				
					</div> 
				
				
					
					<!-- Search --> 
				
					<form> 
				
						<div class="search_select"> 
						
							<a href="" class="search_type">People</a> 
							<a href="" class="search_type">Tags</a> 
							<a href="" class="search_type">Topics</a> 
							
						</div> 
				
						<div class="search_form"> 
					
							<div class="search_link_container"> 
							
								<a href="" class="search_link" onclick="return false">Select</a> 
								
							</div> 
					
							<input type="text" class="search_text" name="" value="Search" /> 
							<input type="submit" class="search_submit" value="Submit" /> 
						
						</div> 
				
					</form> 
			
				</div> 
				
				
				
				<!-- Profile Edit Content --> 
				
				<div class="general_content"> 
					<div class="section_title">Edit Profile</div> 
					<div class="dotted_divider"></div> 



					<!-- Photo Upload -->

					<div class="photo_upload_container_01">
					
						
						
						<!-- Photo Upload Left --> 
						
						<div class="photo_upload_left">
							<img src="/static/images/profile_hero_blank.gif" alt="" />
						</div>
						
						
						
						<!-- Photo Upload Right --> 
						
						<div class="photo_upload_right">
						
							<div class="photo_upload_title">Select an image file on your computer</div>
							<div class="dotted_divider"></div>
							<div class="upload_submit_container">
								<form>
									<input type="submit" class="choose_file" value="Choose File" /><div class="upload_sumbit_label">No File Chosen</div>
								</form>
							</div>
							<div class="upload_submit_note_01">* Image must be square and a minimum of <br />325 pixels X 325 pixels</div> 
							
							<div class="photo_upload_title">Or</div>
							<div class="dotted_divider"></div>
							<div class="upload_submit_container">
								<form>
									<input type="submit" class="take_picture" value="Take Picture" />
								</form>
							</div>
							<div class="upload_submit_note_01">* Webcam & Flash Required</div>
							
							<div class="general_micro_print">By uploading a file you certify that you have the right to distribute this picture and that it does not violate the <a href="terms.htm" class="underline">Terms of Use.</a></div>
							 
						</div>
						
					</div>
					
					 <form action="." method="post" enctype="multipart/form-data" class="profile_form">{% csrf_token %}
    
						<!-- Name -->
										
						<div class="general_title">Name <div class="general_right_float"> 100 of 400 characters</div></div> 
						 
						<div class="dotted_divider"></div>

						<div class="edit_input_container_01">
							<textarea class="edit_input_01">Cody Pallo</textarea>
						</div>
					
					
						<!-- Quote -->
					
						<div class="general_title">Quote <div class="general_right_float"> 200 of 800 characters</div></div>
						<div class="dotted_divider"></div>
					
						<div class="edit_input_container_02">
					        {{ profile_form.quote }}
						</div>
 
 
 
 						<!-- Location -->
 					
						<div class="general_title">Location <div class="general_right_float"> 100 of 400 characters</div></div> 
						<div class="dotted_divider"></div> 
						
						<div class="edit_input_container_01">
							<textarea class="edit_input_01">Los Angeles</textarea>
						</div>
					

					
						<!-- Education -->
					
						<div class="general_title">Education <div class="general_right_float"> 300 of 900 characters</div></div> 
						<div class="dotted_divider"></div> 
						
						<div class="edit_input_container_03">
                            {{ profile_form.education }}
						</div>


						<!-- Bio -->
										
						<div class="general_title">Bio <div class="general_right_float"> 400 of 2000 characters</div></div> 
						<div class="dotted_divider"></div> 
					
						<div class="edit_input_container_04">
                            {{ profile_form.bio }}
					    </div>

					
					<!-- Menu Navigation --> 
										
					<div class="menu_navigation_01">
					
						<a href="" class="menu_button_left">
							Delete Account
						</a>
						<a href="privacy.htm" class="menu_button_left">
							Privacy Policy
						</a>
						<a href="terms.htm" class="menu_button_left">
							Terms of Use
						</a>
						
					<input class="menu_button_right_selected" type="submit" value="Update Profile">
											
					</div>
					
				</div> 
						</form>			
{% endblock %}	 

{% block footer %}			
			<!-- Footer --> 
			
			<div class="footer"> 
					
				<div class="small_print_02"> 
<a href="http://www.chimesandrhymes.com" target="_blank">Blog</a> / <a href="about.htm">About</a> / <a href="privacy.htm">Privacy</a> / <a href="terms.htm">Terms 0f Use</a><br />
					Site Design By Groundwork Counsel<br /> 
					<span class="helvetica">&copy;</span> Art Acclaim 2010 
				</div> 
					
					
				<div class="profile_acclaim"> 
					<div class="profile_acclaim_box">101K</div> 
					<div class="profile_acclaim_title">Acclaim</div> 
				</div> 
				
			</div> 
			
		</div> 
	
	</div> 
 
</body> 
</html> 
{% endblock %}