{% extends "base.html" %}



{% block content %}	
				
				
				<!-- Profile Edit Content --> 
				
				<div class="general_content"> 
					<div class="section_title">Edit Art Work</div> 
					<div class="dotted_divider"></div> 



					<!-- Photo Upload -->

					<div class="photo_upload_container_02">
					
						
						
						<!-- Photo Upload Center 01 --> 
						
						<div class="photo_upload_center_top">
							<img src="/static/images/portfolio_hero_blank.gif" alt="" />
						</div>
						
						
						
						<!-- Photo Upload Center 02 --> 
						
						<div class="photo_upload_center_bottom">
						
							<div class="photo_upload_title">Select an image file on your computer</div>
							<div class="dotted_divider"></div>
							<div class="upload_submit_container">
								 <form action="/guru/" method="post" target="hiddenupload" enctype="multipart/form-data" class="image_form">
									<input type="hidden" value="portfolio_image"  name= "type" />
									{% csrf_token %}	
                                	<div class="choose_file_container">
										<br />
										<div class="choose_file">Choose File</div>
										{{ image_tank.image }}
									</div>	

								</form>
							</div>
							<div class="upload_submit_note_02">* Image must be square and a minimum of <br />700 pixels X 490 pixels</div> 
							 
						</div>
						
					</div>
					
					<form>
					
						<!-- Title -->
										
						<div class="general_title">Title <div class="general_right_float"> 100 of 400 characters</div></div> 
						 
						<div class="dotted_divider"></div>

						<div class="edit_input_container_01">
						    {{ portfolio_form.title }}
	
						</div>
						
						

						<!-- Edit Container Left -->
						
						
						<div class="edit_left_column"> 
							
							
							
							<!-- Created -->
										
							<div class="general_title">Created<div class="general_right_float"> 100 of 400 characters</div></div> 
						 
							<div class="dotted_divider"></div>

							<div class="edit_input_container_05">
							 {{ portfolio_form.creation_date }}
							</div>
						
						</div>
					


						<!-- Edit Container Right -->
						
						
						<div class="edit_right_column"> 
										
										
										
							<!-- Dimensions -->
					
							<div class="general_title">Dimensions <div class="general_right_float"> 200 of 800 characters</div></div>
							<div class="dotted_divider"></div>
					
							<div class="edit_input_container_05">
							 {{ portfolio_form.dimensions }}
							</div>

						</div>
						<br class="clear" />
						
						
						
						<!-- Materials -->
					
						<div class="general_title">Materials<div class="general_right_float"> 200 of 800 characters</div></div>
						<div class="dotted_divider"></div>
					
						<div class="edit_input_container_02">
                            {{ portfolio_form.materials }}
						</div>
 
 					</div>
 					
 					
					
					<!-- Menu Navigation --> 
										
					<div class="menu_navigation_01">
					
						<a href="" class="menu_button_left">
							Delete Art Work
						</a>
						<a href="privacy.htm" class="menu_button_left">
							Privacy Policy
						</a>
						<a href="terms.htm" class="menu_button_left">
							Terms of Use
						</a>
						
						<a href="" class="menu_button_right_selected">
							Update Art Work
						</a>

					</div>
				</div> 
<iframe id="hiddenupload" name="hiddenupload" style="display:none;"></iframe>
<script>
$("#hiddenupload").load(function(){
     var data = eval($(this).contents().text());
     $(".photo_upload_center_top img").attr("src", '/static/' + data[0].fields.image);
     $("#imghash").val(data[0].fields.hash);
     $("#id_image").removeAttr("disabled")
     
});
</script>

			{% endblock %}
			

