{% extends "base.html" %}



{% block content %}	
				
				<!-- Gallery Content --> 
				
				<div class="general_content"> 
				

					
					<!-- Portfolio Header --> 
					
					<div class="section_title">
						Portfolio 
						<div class="general_right_float">
							Sort: <a href="" class="general_link_selected">Exhibit Date</a> | <a href="" class="general_link">Acclaim</a>
						</div>
					</div> 
					
					<div class="dotted_divider"></div> 

					
					
					<!-- Menu Navigation --> 
										
					<div class="menu_navigation_02">
					
						<a href="" class="menu_button_left_selected" onclick="return false">
							Edit
						</a>
						
						<a href="" class="menu_button_left">
							Remove
						</a>
						
						<a href="/portfolio/add/" class="menu_button_right">
							<div class="new_message_plus">+</div>New Art Work
						</a>
					
					</div>
					
					
					
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
							
							
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
						
						
					
					<!-- Artwork --> 
					
					<div class="art_container_last">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
					
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
							
							
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
						
						
					
					<!-- Artwork --> 
					
					<div class="art_container_last">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
					
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
							
							
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
						
						
					
					<!-- Artwork --> 
					
					<div class="art_container_last">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
							
							
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
						
						
					
					<!-- Artwork --> 
					
					<div class="art_container_last">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
									
						
					
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
					
							
							
					<!-- Artwork --> 
					
					<div class="art_container">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
						
						
					
					<!-- Artwork --> 
					
					<div class="art_container_last">
					
						<div class="general_title_no_margin"><a href="">Bucket Cello</a><a href="portfolio_edit.htm" class="edit">Edit</a></div>
						
						<a href="media/images/colorbox_hero_blank.gif" rel="art_colorbox" title="Bucket Cello" class="art_hero"></a>
						
						<div class="art_info">
							<img src="media/images/acclaim_star.gif" alt="" class="acclaim_star" />
							Artist: <a href="">Cody Pallo</a><br />
							Dimensions: 6' x 4' <br />
							Medium: Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. Morbi malesuada nulla nec purus convallis conseq nec
							<div class="art_dates">
								Created: 09.40.06<br />
								Exhibited: 08.20.10
							</div>
							<div class="mini_acclaim">
								<a href="" class="acclaim_plus"></a><a href="" class="acclaim_minus"></a><div class="mini_acclaim_box">101K</div>
							</div>					
						</div>

					</div>
								
					<br class="clear" />
					<br />
					
				
 				
 				<div class="dotted_divider"></div> 	
			
			 </div> 
			
			<br class="clear" />
			
				

			
			
				<!-- Art Footer --> 
					
				<div class="section_title"><div class="general_right_float"> 1 - 15 of 417 <a href="">Older <span class="helvetica">&#8250;</span></a>  <a href="">Oldest <span class="helvetica">&#187;</span></a></div></div> 
			
			</div>
{% endblock %}