{% extends "base.html" %}



{% block content %}	
				
				<!-- Gallery Content --> 
				
				<div class="general_content"> 
				

					
					<!-- Portfolio Header --> 
					
					<div class="section_title">
						Portfolio 
						<div class="general_right_float">
							Sort: <a href="" class="general_link_selected">Exhibit Date</a> | <a href="" class="general_link">Acclaim</a>
						</div>
					</div> 
					
					<div class="dotted_divider"></div> 

					
					
					<!-- Menu Navigation --> 
										
					<div class="menu_navigation_02">
					
						<a href="" class="menu_button_left_selected" onclick="return false">
							Edit
						</a>
						
						<a href="" class="menu_button_left">
							Remove
						</a>
						
						<a href="/portfolio/add/" class="menu_button_right">
							<div class="new_message_plus">+</div>New Art Work
						</a>
					
					</div>
					
					
					
					<!-- Artwork --> 
					{% for item in portfolio %}
                        <div class="{% if forloop.counter|divisibleby:'3' %} art_container_last{% else %}art_container{% endif %}">
                        
                            <div class="general_title_no_margin"><a href="">{{ item.title|truncatewords:3 }} </a>
                            <a href="{{ item.id }}/edit/" class="edit">Edit</a>
                            </div>
                            
                            {% if item.image %}
                           
                                <a href="{{ MEDIA_URL }}{{ item.image }}" rel="art_colorbox" title="{{ item.title }} " class="art_hero"><img src = '{{ MEDIA_URL }}{{ item.image }}' width=235px height=165px /></a>
                            {% else %}
                                <a href="/static/images/colorbox_hero_blank.gif" rel="art_colorbox" title="{{ item.title }} " class="art_hero"></a>
                            {% endif %}
                            
                            <div class="art_info">
                                <img src="/static/images/acclaim_star.gif" alt="" class="acclaim_star" />
                                Artist: <a href="">{{ item.user.get_full_name }}</a><br />
                                Dimensions: {{ item.user.dimensions }} <br />
                                Medium:  {{ item.user.materials }}
                                <div class="art_dates">
                                    Created: {{ item.user.last_modified }}<br />
                                    Exhibited: {{ item.user.creation_date }}
                                </div>
                                <div class="mini_acclaim">
                                    <a href="" onclick='return upVote("{{item.hash}}",this)' class="acclaim_plus"></a><a href="" onclick='return downVote("{{item.hash}}",this)' class="acclaim_minus"></a><div class="mini_acclaim_box">{{ item.vote.score }}</div>
                                </div>					
                            </div>
    
                        </div>
                    {% endfor %}
						
								
					<br class="clear" />
					<br />
					
				
 				
 				<div class="dotted_divider"></div> 	
			
			 </div> 
			
			<br class="clear" />
			
				
<script>
    function upVote(hash,elt) 
    {
       $.post("/portfolio/vote/" +hash+ "/up/", function(msg){
        $(elt).parent().find(".mini_acclaim_box").html(msg.score.score);
                   }, "json");
                return false;
    }
    
    function downVote(hash,elt) 
    {
       $.post("/portfolio/vote/" +hash+ "/down/", function(msg){
        $(elt).parent().find(".mini_acclaim_box").html(msg.score.score);
                   }, "json");
                return false;
    }
        
</script>
			
			
				<!-- Art Footer --> 
					
				<div class="section_title"><div class="general_right_float"> 1 - 15 of 417 <a href="">Older <span class="helvetica">&#8250;</span></a>  <a href="">Oldest <span class="helvetica">&#187;</span></a></div></div> 
			
			</div>
{% endblock %}