{% extends "base.html" %}
{% block content %}
			
			


			<!-- About Header -->
			
			
			<div class="about_header">About</div>
			
			
			
			<!-- About Content -->
			
			<div class="about_content">




				<!-- About Left Column -->
			
				<div class="about_left_column">
				
					<div class="section_title">Art Acclaim</div>
					
					<div class="dotted_divider"></div> 
					
					<img src="/static/images/about_acclaim_star.gif" alt="" />
					
					<div class="dotted_divider"></div>
					
					<div class="about_title_02">Why We Exist</div>
		
					<div class="dotted_divider"></div>	 
					
					<div class="about_text_01">
					
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel<br /><br />

 ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Semus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Semus luctus urna sed urna ultricies ac tempor dui sagittis. In condi Class aptent taciti soc<br /><br />

iosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.cies ac tempor dui sagittis. In condiorci tempus eleifend ut et magna. 
						
					</div>
				
				</div>
				
				
				
				<!-- About Right Column -->
			
				<div class="about_right_column">
					
					<div class="section_title">Who We are</div>
					
					<div class="dotted_divider"></div> 
					
					
					
					<!-- About Right Inner Column 01 -->
									
					<div class="about_right_inner_column_01">
		
						<div class="about_title_01">Kevin Postal - Lead Technology</div>
		
						<div class="dotted_divider"></div> 
						
						<div class="about_text_02">
						
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel<br /><br />
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus
						
						</div>
					</div>
					
					
					<!-- About Right Inner Column 02 -->
				
					<div class="about_right_inner_column_02">
					
						<div class="about_hero">
							<img src="/static/images/profile_image_kevin.jpg" alt=""/>
						</div>
						
					</div>	
				</div>	
				
				
				
				<!-- About Right Column -->
			
				<div class="about_right_column">
				
					<div class="dotted_divider"></div> 
				
				
					
					<!-- About Right Inner Column 01 -->
				
					<div class="about_right_inner_column_01">
					
							<div class="about_title_01">Cody Pallo - Lead Creative</div>
						
							<div class="dotted_divider"></div>
							
							<div class="about_text_02">
													
								Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin velClass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et<br /><br />
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel
						
						</div>
						
					
					</div>
						<!-- About Right Inner Column 02 -->
				
					<div class="about_right_inner_column_02">
					
						<div class="about_hero">
							<img src="/static/images/profile_image.jpg" alt=""/>
						</div>
						
					</div>	

					
				</div>

			</div>			
			
			<br class="clear" />		
			
			
			
			
			<!-- Contact -->
			
			<div class="section_title">Contact</div>
			
			<div class="dotted_divider"></div> 
			
			
			
			
			<!-- Contact Left -->
			
			<div class="about_contact_left">
				<div class="about_text_01">
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin velClass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel
				</div>
			</div>
			
			
			
			
			<!-- Contact Right -->
						
			<div class="about_contact_right">
					
					
				<div class="about_form_container">
					
					<table class="about_form_table">
						<tr>
							<td colspan="2" class="form_field_label">First Name:</td> 
							<td colspan="2"><input type="text" class="about_form_text" name="" value="" /></td>
						</tr>
						<tr>
							<td colspan="2"class="form_field_label">Last Name:</td> 
							<td colspan="2"><input type="text" class="about_form_text" name="" value="" /></td>
						</tr>
						<tr>
							<td colspan="2" class="form_field_label">Email:</td> 
							<td colspan="2"><input type="text" class="about_form_text" name="" value="" /></td>
						</tr>
						</tr>
							<td colspan="2" valign="top" class="form_field_label">Message:</td> 
							<td colspan="2"><textarea class="about_form_text_area"></textarea></td>
						</tr>
						<tr>
							<td colspan="3" class="form_field_label">Please add 6 and 2 and type your answer here:</td>
							<td colspan="1" class="about_form_text_mini_td"><input type="text" class="about_form_text_mini" name="" value="" /></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><input type="submit" class="about_submit" value="Send" /></td>
						</tr>
					</table>	
						
				</div>
				
			</div>	
				
				
				
				
						
{% endblock %}