<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head> 
	<!-- Title --> 
	<title>Art Acclaim: {% block title %}Welcome{% endblock %}</title>
	<!-- Meta --> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<!-- Stylesheets -->	

	<link rel="stylesheet" type="text/css" /static="all" href="/static/css/style.css" /> 
	<link rel="stylesheet" type="text/css" /static="all" href="/static/css/fonts/stylesheet.css" /> 
	<link rel="stylesheet" type="text/css" /static="all" href="/static/css/colorbox.css" /> 	
	
	<!-- Javascript -->	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 	 	
	<script src="/static/scripts/jquery.colorbox.js" type="text/javascript"></script> 	
	<script src="/static/scripts/main.js" type="text/javascript"></script>

</head> 
<body>
	<!-- Page -->

	<div class="page">
		
		<!-- Header -->
	
		<div class="header">
			<!-- Top Navigation -->				
				
			<div class="top_navigation">

				<!-- About -->

				<a href="help.htm" class="help_tab">Help</a>
			
				<!-- Registration -->

				<a href="/accounts/register/" class="registration_tab">Register</a>
				<!-- Login -->

				<a href="/acounts/login/" class="login_tab">Login</a>	

			</div>	
				
			<!-- Logo --> 
				
			<a href="/"><img src="/static/images/art_acclaim_logo.gif" class="logo" alt="" /></a> 

		</div>
{% block navigation %}

		<!-- Navbar -->
			
		<div class="content">
		
			<!-- Sidebar -->
			
			<div class="sidebar_01">
				
				<a href="join.htm">Join</a>						
						
			</div>

			<!-- Right Column -->
			
			<div class="right_column">

				<!-- Main Navigation -->
			
				<div class="main_navigation">	

			
					<!-- Main Navigation -->
			
					<div class="main_tab_container">
					
						<a href="profile.htm" class="main_tab">Profile</a>
						<a href="gallery.htm" class="main_tab">Gallery</a>		
						<a href="forum.htm" class="main_tab">Forum</a>

				
					</div>

					<!-- Search -->
				
					<form>
				
						<div class="search_select">
						
							<a href="" class="search_type">People</a>
							<a href="" class="search_type">Tags</a>
							<a href="" class="search_type">Topics</a>

						</div>
				
						<div class="search_form">
					
							<div class="search_link_container">
							
								<a href="" class="search_link" onclick="return false">Select</a>
								
							</div>
					
							<input type="text" class="search_text" name="" value="Search" />
							<input type="submit" class="search_submit" value="Submit" />
						
						</div>

				
					</form>
			
				</div>

			</div>

{% endblock %}	
			<br class="clear" />
			
        {% block content %}{% endblock %}	
			
			<!-- Footer -->
	
			<div class="footer">
					
				<div class="small_print_01">
<a href="http://www.chimesandrhymes.com" target="_blank">Blog</a> / <a href="about.htm">About</a> / <a href="privacy.htm">Privacy</a> / <a href="terms.htm">Terms 0f Use</a><br />

					Site Design By Groundwork Counsel<br />
					<div class="home_copyright">
						<span class="helvetica">&copy;</span> Art Acclaim 2010 
					</div>
				</div>	
				
			</div>
			
		</div>
	
	</div>

</body>
</html>
