{% extends "base.html" %}
{% load profile_tags %}
{% block sidebar %}
<!-- Sidebar -->

<div class="sidebar_01">
    
    <a href="/accounts/register/">Join</a>						
            
</div>

{% endblock %}
	
	
{% block navigation %}			
			
			<!-- Right Column -->
			
			<div class="right_column">
				
				
				
				<!-- Main Navigation -->
			
				<div class="main_navigation">	
			
			
			
					<!-- Main Navigation -->
			
					<div class="main_tab_container">
					
						<a href="/profile" class="main_tab">Profile</a>
						<a href="/gallery" class="main_tab">Gallery</a>		
						<a href="/forum" class="main_tab">Forum</a>
				
					</div>
				
				
					
					<!-- Search -->
				
					<form>
				
						<div class="search_select">
						
							<div class="search_title">Select</div>
							
							<div class="search_type" id="select_people">People</div>
							<div class="search_type" id="select_tags">Tags</div>
							<div class="search_type" id="select_topics">Topics</div>
							
						</div>
				
						<div class="search_form">
					
							<div class="search_link_container">
							
								<a href="" class="search_link" id="active_title">Select</a>
								
								<a href="" class="search_link" id="active_people">People</a>
								<a href="" class="search_link" id="active_tags">Tags</a>
								<a href="" class="search_link" id="active_topics">Topics</a>
								
							</div>
					
							<input type="text" class="search_text" name="" value="Search" />
							<input type="submit" class="search_submit" value="Submit" />
						
						</div>
				
					</form>
			
				</div>

			</div>
			<br class="clear" />
	{% endblock %}		
	
{% block content %}
		
			<!-- Home Banner -->
			
			<div class="home_banner">
				
					Art Acclaim is a new way to <br />
					make connections and share<br />  
					your work with the art world
					
			</div>
				
			

			<!-- Home Top Artists -->
			
			<div class="home_top_content_01">
			
				<div class="section_title">Top Artists</div>
				<div class="dotted_divider"></div>
				

				<!-- Top Artist 01 -->
				{% for artist,score in top_artists %}

                    {% if forloop.counter|divisibleby:5 %}
                        <div class="home_top_artists_last">
                    {% else %}
                        <div class="home_top_artists">
                    {% endif %}

                {% get_mugshot artist.id %}
                    <img src="{{ mug_shot }}">
					<table class="home_top_item_caption">
						<tr>
							<td valign="center">
								 {{ artist.get_full_name }}
							</td>
						</tr>
					</table>
						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">
						<div class="mini_acclaim_box">{{ score }}</div>
					</div>
				
				</div>
				
                {% endfor %}			
			
			
			
			<!-- Top Art -->
			
			<div class="home_top_content_02">
			
				<div class="section_title">Top Art</div>
				<div class="dotted_divider"></div>
				
				<div class="home_recent_adds">
                
					{% for x, votes  in top_art %} 
                        {% if forloop.counter|divisibleby:5 %}
                            <div class="home_top_art_last">
                        {% else %}
                            <div class="home_top_art">
                        {% endif %}
                    
                    <img src = " {{ x.image.url_190x125  }}" width = "190px" height="125px" />
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">{{ votes }}</div>
						</div>
					</div>
					{% endfor %}
				</div>
				
			</div>
			
			
			
	
			<!-- Recently Added -->
			
			<div class="home_top_content_03">
			
				<div class="section_title">Recently Added</div>
				<div class="dotted_divider"></div>
				
				<div class="home_recent_adds">

				{% for art in recent_art %}
                    {% if forloop.counter|divisibleby:6 %}
					<div class="home_recent_item_last">
                    {% else %}
                    <div class="home_recent_item">
                    {% endif %}

					<img src ="{{ art.image.url_158x105 }}" width="158xpx" height="105px"/>
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">{{ art.vote.score }}</div>
						</div>
					</div>
                {% endfor %}   
					
				</div>
				
			</div>
			
{% endblock %}
{% block footer %}	
			<div class="footer">
					
				<div class="small_print_01">
<a href="http://www.chimesandrhymes.com" target="_blank">Blog</a> / <a href="/about">About</a> / <a href="/privacy">Privacy</a> / <a href="/terms">Terms 0f Use</a><br />
					Site Design By Groundwork Counsel<br />
					<div class="home_copyright">
						<span class="helvetica">&copy;</span> Art Acclaim 2010 
					</div>
				</div>	
				
			</div>
			
		</div>
	
	</div>

</body>
</html>
{% endblock %}
