{% extends "base.html" %}
{% block content %}




			<!-- Home Banner -->
			
			<div class="home_banner">
				
					Art Acclaim is a new way to <br />
					make connections and share<br />  
					your work with the art world
					
			</div>
			
			<!-- Home Top Artists -->
			
			<div class="home_top_content_01">
			
				<div class="section_title">Top Artists</div>
				<div class="dotted_divider"></div>
				
 
				<!-- Top Artist 01 -->
				
				<div class="home_top_artists">
					
					<table class="home_top_item_caption">
						<tr>

							<td valign="center">
								Cody Pallo
							</td>
						</tr>
					</table>
						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">
						<div class="mini_acclaim_box">101K</div>
					</div>

				
				</div>
				
				
				
				<!-- Top Artist 02 -->
				
				<div class="home_top_artists">
					
					<table class="home_top_item_caption">
						<tr>
							<td valign="center">
								Cody Pallo
							</td>
						</tr>

					</table>
						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">
						<div class="mini_acclaim_box">101K</div>
					</div>
				
				</div>
				
				
				
				<!-- Top Artist 03 -->
				
				<div class="home_top_artists">

					
					<table class="home_top_item_caption">
						<tr>
							<td valign="center">
								Cody Pallo
							</td>
						</tr>
					</table>
						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">

						<div class="mini_acclaim_box">101K</div>
					</div>
				
				</div>
				
				
				
				<!-- Top Artist 04 -->
				
				<div class="home_top_artists">
					
					<table class="home_top_item_caption">
						<tr>
							<td valign="center">

								Cody Pallo
							</td>
						</tr>
					</table>
						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">
						<div class="mini_acclaim_box">101K</div>
					</div>
				
				</div>

				
				
				
				<!-- Top Artist 05 -->
				
				<div class="home_top_artists_last">
					
					<table class="home_top_item_caption">
						<tr>
							<td valign="center">
								Cody Pallo
							</td>
						</tr>
					</table>

						
					<div class="home_top_item_caption_bg"></div>
						
					<div class="home_mini_acclaim_01">
						<div class="mini_acclaim_box">101K</div>
					</div>
				
				</div>
				
			</div>
			
			
			
			
			<!-- Top Art -->
			
			<div class="home_top_content_02">

			
				<div class="section_title">Top Art</div>
				<div class="dotted_divider"></div>
				
				<div class="home_recent_adds">
					
					<div class="home_top_art">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>

					
					
					<div class="home_top_art">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
		
		
					<div class="home_top_art">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>

						</div>
					</div>
		
		
					<div class="home_top_art">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
					
					<div class="home_top_art_last">

						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
			
			
	
			<!-- Recently Added -->
			
			<div class="home_top_content_03">

			
				<div class="section_title">Recently Added</div>
				<div class="dotted_divider"></div>
				
				<div class="home_recent_adds">
					
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>

	
	
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
					
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>

						</div>
					</div>
		
		
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
		
		
					<div class="home_recent_item">

						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
					
					<div class="home_recent_item_last">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>

					</div>
					
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
	
	
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">

							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
					
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>

		
		
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
		
		
					<div class="home_recent_item">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>

						</div>
					</div>
					
					
					<div class="home_recent_item_last">
						<div class="home_mini_acclaim_02">
							<div class="mini_acclaim_box">101K</div>
						</div>
					</div>
					
				</div>

				
			</div>





{% endblock %}
